@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;1,600&family=Koh+Santepheap&family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
    /* heigh: ?vh; */
    background-color: rgb(220, 231, 230);
}
ul{
    list-style-type: none;
}
a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.logo{
    width: 65px;
}
.logo > img{
    width: 100%;
}
.menu-list{
    display: flex;
    gap: 2.5rem;
}
.head-page{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: sticky;
    padding: 2rem;
    top: 0;
    box-shadow: 0 0 8px 0;
    z-index: 10;
    backdrop-filter: blur(75px);
    -webkit-backdrop-filter: blur(75px);
}
.container-width{
    max-width: 1024px;
    margin: 0 auto;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list > a{
    color: white;
    transition: all 0.25s;
}
.list > a:hover{
    color: #65acf2;
}
.icon-toggler{
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .navigation{
        flex-wrap: wrap;
    }
    .icon-toggler{
        color: white;
        display: block;
    }
    .menu-list{
        display: none;
        flex-direction: column;
        width: 100%;
        padding-top: 1rem;
    }
    .list{
        border-bottom: 1px solid rgb(156, 156, 156);
    }
}

        /* Javascript */
.menu-list.show{
    display: flex;
}
        /* End of Navigation Bar */
.hero{
    background-color: #000000b3;;
}
.hero-img{
    width: 480px;
}
.hero-img > img{
    width: 100%;
    animation: float 3s ease infinite;
}
@keyframes float {
    50%{
        transform: translateY(-20px);
    }
}
.grid-1x2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 1000px) {
    .grid-1x2{
        grid-template-columns: 1fr;
    }
}
.grid-hero{
    align-items: center;
}
.hero-text > h1{
    color: white;
    font-size: 50px;
    line-height: 1.1;
}
.hero-text > p{
    color: white;
    font-size: 20px;
    padding: 1rem 0 2rem 0;
}
.hero-text > a{
    font-weight: bold;
    background-color: lightblue;
    padding: 1rem;
    border: 0;
    border-radius: 15px;
}
@media screen and (max-width: 1000px){
    .grid-hero{
        text-align: center;
    }
}

    /* End of hero section */

.popular-course{
    padding: 2rem;
}   
.pc-heading{
    text-align: center;
    font-size: 5rem;
    margin: 7rem 0;
}
.course-card{
    width: 328px;
    background-color: white;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 2px 2px 0 #979797;
}
.course-img{
    width: 100%;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}
.course-img > img{
    width: 100%;
}
.course-heading{
    text-align: center;
    font-size: 25px;
}
.course-card > p{
    text-align: center;
    font-size: 15px;
    margin: 1.5rem  0;
    font-weight: 400;
}
.btn-container{
    display: flex;
    gap: 1.5rem;
}
.btn-one, .btn-two{
    color: black;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(86, 170, 255);
    padding: 1rem;
    border: 0;
    border-radius: 15px;
}
.btn-two{
    background-color: lightgray;
    transition: all 0.2s;
}
.btn-two:hover{
    color: dodgerblue;
    background-color: #eae9e9;
}
.btn-one{
    width: 300px;
    text-align: center;
    transition: all 0.2s;
}
.btn-one:hover{
    color: dodgerblue;
    background-color: #eae9e9;
}
.grid-1x3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
@media screen and (max-width: 900px){
   .grid-1x3{
    grid-template-columns: repeat(2, 1fr);
   }
}
@media screen and (max-width: 768px) {
    .grid-1x3{
        grid-template-columns: 1fr;
        padding-left: 5rem;
    }
}

    /* End of popular course */

.cate-heading{
    text-align: center;
    font-size: 5rem;
    margin: 7rem 0;
}
.icon-cate-link{
    width: 150px;
    animation: float 2s ease infinite;
}
@keyframes float {
    50%{
        transform: translateY(-10px);
    }
}
.icon-cate-link > img{
    width: 100%;
    transition: transform 0.3s;
}
.cate-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 2px 2px 0 #979797;
}
.cate-link > h3{
    color: #373131;
}
.cate-link:hover > .icon-cate-link > img{
    transform: scale(1.05);
}
.grid-1x4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
@media screen and (max-width: 768px){
    .grid-1x4{
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem;
    }
}

    /* End of categories */

.footer{
    margin-top: 7rem;
    background-color: #041331;
    padding: 7rem 2rem;
}
.footer-link > a{
    color: #d4d4d4;
}
.footer-link > a:hover{
    color: #ffffff;
}
.copyright{
    color: rgb(151, 151, 151);
    font-size: 18px;
}
.active{
    color: rgb(176, 255, 49) !important;
}